{{ ansible_managed | comment }}

{% set oh_my_zsh = user.oh_my_zsh|default({}) %}

export ZSH=/usr/share/oh-my-zsh

source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme

DISABLE_AUTO_UPDATE="true"
POWERLEVEL9K_DISABLE_CONFIGURATION_WIZARD=true

plugins=({{ oh_my_zsh.plugins | default(oh_my_zsh_plugins) | join(' ') }})

source $ZSH/oh-my-zsh.sh

source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

source /usr/share/doc/pkgfile/command-not-found.zsh
